---
const { class: className, title, ...rest } = Astro.props;
---

<article
  class={`border-t-gray-100/55 border-l-gray-100/55 border-r-gray-400/20 border-b-gray-400/20 border-t-2 border-l-2 border-r-1 border-b-1 rounded-tr-lg rounded-bl-lg rounded-tl-4xl rounded-br-4xl shadow-[4px_4px_6px_rgba(0,0,0,0.2),-2px_-2px_4px_rgba(255,255,255,0.6)] p-4 bg-white/25 backdrop-blur-md flex flex-col gap-4 ${className}`}
  {...rest}
>
  <h1 class="font-bold text-3xl">{title}</h1>
  <slot />
</article>
