---
import BaseCard from './BaseCard.astro';
const { class: className, ...rest } = Astro.props;
---

<BaseCard class={`${className}`} {...rest}>
  <section class="relative h-full">
    <div
      class="h-full before:absolute before:left-0 before:block before:h-full before:w-[8px] before:rounded-full before:bg-[linear-gradient(180deg,_#b9e3ed_75%,_#a7a1ff)] before:content-['']"
    >
      <ul
        class="flex h-full flex-col justify-between gap-4 py-2 pl-5 [&>li]:relative [&>li]:before:absolute [&>li]:before:top-[3px] [&>li]:before:left-[-24px] [&>li]:before:block [&>li]:before:h-[16px] [&>li]:before:w-[16px] [&>li]:before:rounded-full [&>li]:before:bg-blue-400"
      >
        <li>
          <p>2016-04-01</p>
          <p>法政大学 情報科学部 入学</p>
        </li>
        <li>
          <p>2020-04-01</p>
          <p>エヌ・ティ・ティ・コムウェア株式会社 入社</p>
        </li>
        <li>
          <p>2023-09-01</p>
          <p>リビン・テクノロジーズ株式会社 入社</p>
        </li>
      </ul>
    </div>
  </section>
</BaseCard>
