---
import BaseCard from './BaseCard.astro';
import { getExperiences } from '~/utils/microcms';
import { loadJST } from '~/utils/date';
import type { Institution } from '~/types/types';

const { class: className, ...rest } = Astro.props;
const experiences: Institution[] = await getExperiences();
---

<BaseCard class={`${className}`} {...rest}>
  <section class="flex h-full flex-col justify-between gap-4">
    <p>都内で働くフロントエンドエンジニア</p>
    <div class="relative">
      <div
        class="h-full before:absolute before:left-0 before:block before:h-full before:w-2 before:rounded-full before:bg-[linear-gradient(180deg,#b9e3ed_75%,#a7a1ff)] before:content-['']"
      >
        <ul
          class="flex h-full flex-col justify-between gap-4 py-2 pl-5 [&>li]:relative [&>li]:before:absolute [&>li]:before:top-1.25 [&>li]:before:-left-6 [&>li]:before:block [&>li]:before:h-4 [&>li]:before:w-4 [&>li]:before:rounded-full [&>li]:before:bg-blue-400"
        >
          {
            experiences.map((exp): any => (
              <li>
                <p>{loadJST(exp.joinedAt)}</p>
                <p>
                  {exp.instName} {exp.instType.includes('企業') ? '入社' : '入学'}
                </p>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</BaseCard>
