---
import BaseCard from './BaseCard.astro';
import SocialLink from '~/components/socials/SocialLink.astro';
const { class: className, ...rest } = Astro.props;
---

<BaseCard class={`${className}`} {...rest}>
  <section class="flex h-full rounded-2xl bg-gray-400/50 p-4">
    <ul class="flex flex-wrap gap-2 lg:grow lg:flex-col [&>li]:lg:w-full">
      <li>
        <SocialLink href="https://github.com/hrel11" title="GitHub" bgClassName="bg-gray-800" />
      </li>
      <li>
        <SocialLink href="https://qiita.com/hrel11" title="Qiita" bgClassName="bg-qiita" />
      </li>
    </ul>
  </section>
</BaseCard>
