---
import Layout from '../layouts/Layout.astro';
import background from '../assets/background.svg';

export const prerender = true;
---

<Layout title="404 Not Found" description="ページが見つかりませんでした">
  <img
    class="fixed inset-0 -z-10 h-full w-full blur-[100px]"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
  <main class="m-auto grid h-dvh max-w-6xl place-content-center gap-3 p-4">
    <div class="rounded-xl bg-white/50 p-4 shadow-xl">404 Not Found</div>
  </main>
</Layout>
