---
import Layout from '~/layouts/Layout.astro';
import Profile from '~/components/card/Profile.astro';
import Skills from '~/components/card/Skills.astro';
import Socials from '~/components/card/Socials.astro';
import Splash from '~/components/Splash';
import background from '~/assets/background.svg';
---

<Layout
  title="hrel11 portfolio"
  description="フロントエンドエンジニアのポートフォリオ"
  class="bg-blue-50"
>
  <Splash client:load />
  <img class="fixed inset-0 -z-1 h-full w-full" src={background.src} alt="" fetchpriority="high" />
  <main
    class="m-auto flex max-w-6xl min-w-[330px] flex-col gap-10 overflow-x-hidden p-10 lg:grid lg:grid-cols-4 lg:grid-rows-4"
  >
    <Profile id="profile" title="hrel11" class="lg:col-span-3 lg:col-start-1 lg:row-span-1" />

    <Socials id="socials" title="リンク" class="lg:col-span-1 lg:col-start-4 lg:row-span-1" />

    <Skills id="skills" title="スキルセット" class="h-fit lg:col-span-4 lg:row-span-3" />
  </main>
</Layout>
