---
import SocialIcon from '~/components/socials/SocialIcon.astro';

const { bgClassName, href, title, ...rest } = Astro.props;
const bgClass = bgClassName || 'bg-gray-600';
---

<a
  href={href}
  class={`${bgClass} p-2 rounded-full inline-flex gap-2 items-center lg:w-full hover:opacity-50 transition-all overflow-hidden`}
  {...rest}
  rel="noopener noreferrer"
  target="_blank"
>
  <SocialIcon alt={title} class="size-9 rounded-[50%] border border-white" />
  <span class="truncate pr-1 text-2xl font-bold text-white">{title}</span>
</a>
